<!-- NG-ZORRO -->
<h1 class="textCenter">主页</h1>
<hr>
<div class="textCenter">
  <a routerLink="test"><button nz-button>前往test module页面</button></a>
  <a routerLink="admin"><button nz-button>前往admin module页面</button></a>
  <a routerLink=""><button nz-button>返回主页</button></a>
  <a [routerLink]="[{ outlets: { popup: ['step'] } }]"><button nz-button>显示step页面</button></a>
  <button nz-button (click)="clearNameRouting()">清除step页面</button>
</div>

<hr>
<router-outlet></router-outlet>
<hr>
<router-outlet name="popup"></router-outlet>
